.expenses {
    padding: 1rem;
    background-color: rgb(31, 31, 31);
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
  }

  .art-azalt{
    width: 25px;
    display: flex;
    flex-direction: column;
    margin: 2px;
    font-size: large;
    border: 2px solid purple;
    border-radius: 8px;
    cursor: pointer;
  }

  .title-button{
    margin-left: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border: 1px solid lightslategray;
    border-radius: 3px;
    cursor: pointer;
  }